/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fullscreen Layout */
html, body, #root {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f9;
}

/* Remove Vite demo leftovers */
.logo,
.card,
.read-the-docs {
  all: unset;
}